html,
body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	font: 14px/1.2em Microsoft YaHei;
	color: #fff;
	background-color: #2D3132;
	-webkit-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

i,
em {
	font-style: normal;
}

img {
	vertical-align: top;
}

input {
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	appearance: none;
	outline: none;
}

* {
	-webkit-highlight-tap-color: rgba(0, 0, 0, 0);
}

.headtop>img {
	width: 100%;
}

.button {
	width: 100%;
	margin: 0 auto;
	height: 6.96%;
	line-height: 6.96%;
	padding-top: 10px;
}

.button img:first-child {
	width: 7.3%;
	padding-top: 1%;
	padding-left: 21.4%;
	float: left;
}

.button img {
	width: 43%;
	padding-left: 10px;
}

.button .imginput {
	width: 43%;
	padding-top: 1%;
	padding-left: 3%;
	float: left;
}

.button div {
	height: 5%;
}

.button div input {
	width: 36%;
	/*	height: 2.34%;
	line-height: 2.1%;*/
	color: #642a14;
	font-size: 17px;
	border: none;
	background: none;
	float: left;
	display: none;
	font-weight: bold;
	padding-left: 4%;
}

.main {
	width: 100%;
	background: url(../img/bigbg.png) no-repeat;
	background-size: 100% 100%;
}

.main>img {
	width: 43%;
	margin-top: 37%;
	margin-left: 5%;
}

.main .draw {
	width: 32%;
	margin-left: 34%;
	margin-right: 34%;
	margin-top: 36%;
}

.footer {
	width: 100%;
	height: auto;
	line-height: 10px;
	padding: 3% 0;
	background: url(../img/footer.png) no-repeat;
	font-size: 12px;
	text-align: center;
	color: #ffd9a6;
}

#mask {
	position: fixed;
	z-index: 10;
	background-color: #000;
	width: 100%;
	height: 100%;
	opacity: 0.75;
	filter: Alpha(opacity=75);
	/* IE8 and earlier */
	display: none;
	top: 0;
}

.pop-div {
	position: absolute;
	z-index: 11;
	overflow: hidden;
	display: none;
	top: 0%;
	width: 100%;
	height: 100%;
}

.pop-div .head {
	font-size: 26px;
	text-align: center;
	margin-left: 0;
}

.pop-div img {
	width: 86%;
	margin-left: 7%;
	margin-bottom: 9%;
}

.pop-div p {
	margin-left: 6.8%;
	text-align: left;
	font-size: 12px;
	height: 3%;
	line-height: 3%;
}

.pop-div span {
	margin-left: 6.8%;
	text-align: left;
	font-size: 15px;
}

.pop-div .ptitle {
	display: inline-block;
	color: #fff;
	background: #c73f3f;
	padding: 4px 9px;
}

.pop-div .gift {
	font-size: 15px;
	height: 1%;
}

.pop-div ul {
	margin-left: 4%;
}

.pop-div ul li {
	height: 4%;
	margin-top: 1%;
	font-size: 12px;
	width: 90%;
}

.pop-div .boldspan {
	margin-left: 0;
	font-size: 11px;
	font-weight: bold;
	list-style: circle;
}

.pop-div span>img {
	width: 14%;
	margin-left: 38%;
	margin-top: 8%;
}

@media only screen and (max-width:374px) {
	.pop-div span>img {
		margin-top: 0;
		margin-bottom: 0;
	}
}

.pop-div .cla {
	width: 88%;
	line-height: 20px;
	margin-left: 6%;
	text-align: center;
}


/*中奖弹出框*/

.pop-div-get {
	position: absolute;
	z-index: 11;
	overflow: auto;
	display: none;
	background: url(../img/get.png) 0 10% no-repeat;
	background-size: 100%;
	top: 24%;
	margin-left: 5%;
	width: 90%;
	height: 100%;
}

.pop-div-get img {
	width: 42%;
	padding-left: 29%;
	padding-top: 6%;
}

.pop-div-get img:first-child {
	width: 26%;
	padding-left: 37%;
	padding-top: 31%
}

.pop-div-get img:last-child {
	width: 6%;
	padding-left: 37%;
	float: right;
	margin-top: -100%;
}

.pop-div-get p {
	font-size: 13px;
	text-align: center;
	color: #552828;
	line-height: 13px;
}

.pop-div-get .clare p {
	line-height: 4px;
	position: relative;
	top: 45px;
	color: #f2da59;
}

@media only screen and (max-width: 320px) {
	.pop-div-get p {
		font-size: 10px;
		line-height: 10px;
	}
	.pop-div-get .clare p {
		top: 45px;
	}
}

.pop-div-get .congra {
	color: #f02c2e;
}


/*未中奖*/

.pop-div-sorry {
	position: absolute;
	z-index: 11;
	overflow: auto;
	display: none;
	background: url(../img/sorry.png) 0 10% no-repeat;
	background-size: 100%;
	top: 24%;
	margin-left: 5%;
	width: 90%;
	height: 100%;
}

.pop-div-sorry img {
	width: 42%;
	padding-left: 29%;
	padding-top: 63%;
}

.pop-div-sorry img:first-child {
	width: 26%;
	padding-left: 37%;
	padding-top: 31%
}

.pop-div-sorry img:last-child {
	width: 6%;
	padding-left: 37%;
	float: right;
	margin-top: -148%;
}

.pop-div-sorry p {
	font-size: 13px;
	text-align: center;
	color: #552828;
	line-height: 13px;
}

@media only screen and (max-width: 320px) {
	.pop-div-sorry p {
		font-size: 10px;
		line-height: 10px;
	}
}


/*转盘*/

.ly-plate {
	position: relative;
	width: 509px;
	height: 509px;
	/*margin: 50px auto;*/
	background: #9c1515;
	border-radius: 400px;
	float: left;
}

.rotate-bg {
	width: 509px;
	height: 509px;
	background: url(cj/ly-plate.png);
	position: absolute;
	top: 0;
	left: 0
}

.ly-plate div.lottery-star {
	width: 214px;
	height: 214px;
	position: absolute;
	top: 150px;
	left: 147px;
	/*text-indent:-999em;
		overflow:hidden;
		background:url(rotate-static.png);
		-webkit-transform:rotate(0deg);*/
	outline: none
}

.ly-plate div.lottery-star #lotteryBtn {
	cursor: pointer;
	position: absolute;
	top: 0;
	left: 0;
	*left: -107px
}

.dst {
	width: 480px;
	height: 200px;
	background: #fff;
	position: fixed;
	top: 40%;
	left: 50%;
	margin: -100px 0 0 -255px;
	display: none;
	padding: 50px 15px 15px 15px;
	text-align: left;
	border: solid 2px #ffd889;
	box-shadow: 0 0 15px #ce9d39;
	background: #fffad1;
}