html,
body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	font: 14px/1.2em Microsoft YaHei;
	color: #fff;
	background-color: #2D3132;
	-webkit-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

i,
em {
	font-style: normal;
}

img {
	vertical-align: top;
}

input {
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	appearance: none;
	outline: none;
}

* {
	-webkit-highlight-tap-color: rgba(0, 0, 0, 0);
}

.headtop>img {
	width: 100%;
}

.button {
	width: 100%;
	margin: 0 auto;
	height: 6.96%;
	line-height: 6.96%;
	padding-top: 10px;
	background: url(../img/button.png) no-repeat;
	background-size: cover;
}
@media only screen and (max-width: 320px) {
	.button {
	height: 6.75%;
	line-height: 6.75%;
}
}
.button img:first-child {
	width: 5.3%;
	padding-top: 1%;
	padding-left: 21.4%;
	float: left;
}

.button img {
	width: 43%;
	padding-left: 10px;
}

.button .imginput {
	width: 43%;
	padding-top: 1%;
	padding-left: 3%;
	float: left;
	height: 52.2%;
}

.button input {
	width: 36%;
	height: 2.34%;
	min-height: 21px;
	color: #642a14;
	font-size: 18px;
	line-height: 2.1%;
	border: none;
	background: none;
	float: left;
	display: none;
	font-weight: bold;
	padding-left: 4%;
	padding-top: 1%;
	height: 52.2%;
}

.main {
	width: 100%;
	background: url(../img/body.png) no-repeat;
	background-size: 100%;
}

.main>img {
	width: 43%;
	margin-top: 43%;
	margin-left: 5%;
}

.main>img:first-child {
	width: 24%;
	margin-left: 38%;
	margin-top: 33%;
	padding-bottom: 5%;
}

.footer {
	width: 100%;
	height: auto;
	line-height: 16px;
	padding: 3% 0;
	background: url(../img/footer.png) no-repeat;
	font-size: 12px;
	text-align: center;
	color: #ffd9a6;
}

#mask {
	position: fixed;
	z-index: 10;
	background-color: #000;
	width: 100%;
	height: 100%;
	opacity: 0.85;
	filter: Alpha(opacity=85);
	/* IE8 and earlier */
	display: none;
	top: 0;
}

.pop-div {
	position: absolute;
	z-index: 11;
	overflow: auto;
	display: none;
	width: 96%!important;
	background: url(../img/zhong.png) no-repeat;
	background-size: 100%;
	top: 0%;
	margin-left: 2%;
	width: 100%;
	height: 100%;
}

.pop-div .head {
	font-size: 26px;
	text-align: center;
	margin-left: 0;
}

.pop-div img {
	width: 86.25%;
	margin-left: 7%;
	margin-bottom: 9%;
}

.pop-div p {
	margin-left: 6.8%;
	text-align: left;
	font-size: 12px;
	height: 3%;
	line-height: 3%;
}

.pop-div span {
	margin-left: 6.8%;
	text-align: left;
	font-size: 15px;
}

.pop-div .ptitle {
	display: inline-block;
	color: #fff;
	background: #c73f3f;
	padding: 4px 9px;
}

.pop-div .gift {
	font-size: 15px;
	height: 1%;
}

.pop-div ul {
	margin-left: 4%;
}

.pop-div ul li {
	height: 4%;
	margin-top: 1%;
	font-size: 12px;
}

.pop-div .boldspan {
	margin-left: 0;
	font-size: 11px;
	font-weight: bold;
	list-style: circle;
}

.pop-div span>img {
	width:14% ;
	    margin-left: 38%
}